.navbar {
  display: flex;
  margin: 1% 0;
  align-items: center;
}

.nav-logo-container {
  width: 10%;
  margin-left: 1%;
}

.nav-logo {
  width: 100%;
}

.nav-items-container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  font-family: sans-serif;
  color: gray;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  transition: color 0.2s, border-bottom 0.2s linear;
}

.nav-item:hover {
  color: black;
  border-bottom: 2px solid BLUE;
}

.nav-actions-container {
  margin-right: 1%;
}

.btn {
  display: flex;
  padding: 20px 35px;
  border: 1px solid white;
  border-radius: 25px;
  align-items: center;
}

.btn--primary {
  background: pink;
  color: blue;
}

.btn--secondary {
  background: mediumpurple;
  color: white;
}

main {
  display: flex;
  margin: 6% 0;
}

.info-conatiner {
  width: 27%;
  margin-left: auto;
}

.info-container-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.info-image-conatiner {
  width: 60%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: sans-serif;
  font-size: 66px;
  text-align: center;
  margin-bottom: 6%;
  margin-top: unset;
}

.info {
  font-family: sans-serif;
  color: gray;
  word-spacing: 2px;
  text-align: start;
  font-size: 18px;
}

.info-container-actions {
  display: flex;
  margin: 6% 0;
}

.upward-arrow {
  margin: 0 8%;
}

.info-container-card {
  width: 82%;
}

.info-card-row {
  padding: 5px 10px;
  background: #5d58581a;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.5s;
}

.info-card-row:hover {
  background: white;
  box-shadow: 0 0 6px black;
}

.card-check-container {
  margin-right: 7%;
}

.card-text {
  font-family: sans-serif;
  margin-right: 7%;
  width: 26%;
}

.card-avatar {
  margin-right: 7%;
}

.card-date {
  font-family: sans-serif;
  color: gray;
}

.card-notifire {
  /* width: 15px; */
  /* height: 15px; */
  /* color: red; */
  min-height: 1px;

  width: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 7%;
}

.card-notifire--pink {
  background: pink;
}

.card-notifire--orange {
  background: orange;
}

.card-notifire--green {
  background: green;
}

.card-notifire--yellow {
  background: yellow;
}
